<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-3">
            <div class="widget style1">
                <div class="row">
                    <div class="col-xs-4 text-center">
                        <i class="fa fa-trophy fa-5x"></i>
                    </div>
                    <div class="col-xs-8 text-right">
                        <span>
                            Retos Finalizados
                        </span>
                        <h2 class="font-bold">10</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="widget style1 navy-bg">
                <div class="row">
                    <div class="col-xs-4">
                        <i class="fa fa-graduation-cap fa-5x"></i>
                    </div>
                    <div class="col-xs-8 text-right">
                        <span>
                            Número de Estudiantes
                        </span>
                        <h2 class="font-bold">26</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="widget style1 lazur-bg">
                <div class="row">
                    <div class="col-xs-4">
                        <i class="fa fa-flag fa-5x"></i>
                    </div>
                    <div class="col-xs-8 text-right">
                        <span>
                            Retos Activos
                        </span>
                        <h2 class="font-bold">30</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="widget style1 yellow-bg">
                <div class="row">
                    <div class="col-xs-4">
                        <i class="fa fa-building-o fa-5x"></i>
                    </div>
                    <div class="col-xs-8 text-right">
                        <span>
                            Empresas
                        </span>
                        <h2 class="font-bold">45</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Retos</h5>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="input-group"><input type="text" placeholder="Buscar" class="input-sm form-control" ng-model="queryRetos">
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-sm btn-primary">
                                        Buscar!</button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Nombre reto
                                    </th>
                                    <th>Estados
                                    </th>
                                    <th>Empresa
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="reto in retos | filter:queryRetos">
                                    <td>{{$index+1}}</td>
                                    <td>
                                        {{reto.nombre}}
                                    </td>
                                    <td>{{reto.estado}}</td>
                                    <td>{{reto.empresa}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Retos</h5>
                    <div ibox-tools></div>
                </div>
                <div class="ibox-content">
                    <div>
                        <canvas linechart options="chart.lineOptions" data="chart.lineData" height="140" responsive=true></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Estudiantes por aprobar</h5>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="input-group"><input type="text" placeholder="Buscar" class="input-sm form-control" ng-model="queryEstudiantes">
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-sm btn-primary">
                                        Buscar!</button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Nombre
                                    </th>
                                    <th>Apellidos
                                    </th>
                                    <th>Universidad
                                    </th>
                                    <th>Semestre
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="estudiante in estudiantes | filter:queryEstudiantes">
                                    <td>{{$index+1}}</td>
                                    <td>
                                        {{estudiante.nombre}}
                                    </td>
                                    <td>{{estudiante.apellidos}}</td>
                                    <td>{{estudiante.universidad}}</td>
                                    <td>{{estudiante.semestre}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Estudiantes por aprobar
                    </h5>
                    <div ibox-tools></div>
                </div>
                <div class="ibox-content">
                    <div>
                        <canvas barchart options="chart.barOptions" data="chart.barData" height="140" responsive=true></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
